.container-fluid {
	padding-left:0;
	padding-right:0;
}
h1 {
	text-transform: uppercase;
	font-weight: $font-regular;
}
h2 {
	text-transform: uppercase;
	font-weight: $font-regular;
}

//HELPER CLASSES
.inline {
	display: inline-block;
}
.inline-link {
	font-size: 1.5em;
	margin-left:1em;
}
//HEADER
.region-logos-uta {
	float:left;
}
.region-logos-fb {
	float:right;
}
.region-logo-uta, .region-logo-fb {
	img{
		vertical-align: bottom;
		height: 100px;
	}
}
.name {
	text-transform: uppercase;
	font-size: 71.5px;
	float: none;
	font-weight: $font-light;
	color:$text-color;
	vertical-align: 112%;
	text-align: center;

}
// MAIN MENU
.sf-menu {
	width: 100%;
	li {
		font-size: 25px;
		float:none;
		display: table-cell;
		width: 1%;
		a {
			color:$text-color;
			/*margin-bottom: 0;*/
			text-align: center;
			&:hover, &:focus {
				text-decoration: none;
				font-weight:400;
			}
		}
	}
	li.sf-depth-1 {
		text-transform: uppercase;
		font-weight: 300;
	}
	.sf-item-7 a {
	
	}
}
//HOME
.panels-flexible-homepage_layout {
	.panels-flexible-row {
		padding-bottom:2em;
	}

}
// HERO
.carousel-inner img {
	width: 100% !important;
	height: auto !important;
}
.carousel-caption {
	background-color: rgba(255,255,255,0.83);
	color:$text-color;
	text-shadow:none;
	font-weight: 300;
	top:30%;
	left:30%;
	right:30%;
	bottom:auto;
	h3 {
		font-size:25.5px;
		text-transform: uppercase;
	}
	p {
		padding:1em;
		font-size: 25px;
		text-align: left;
	}
}
.carousel-caption-button {
	position: absolute;
	left:50%;
	bottom: 18%;
	z-index: 10;
}
//FEATURED
//FEATURED BLUE
.featured-blue{
	background-color: rgba(177,201,202,0.37);
	padding:2em 0;
	img {
		border-radius:50%;
		margin-top:2em;
		margin-right: 2em;
		float:right;
	}
	.quote-text {
		font-family:$font-family-serif;
		font-size:30px;
	}
	.quote-author {
		font-size: 27px;
		color:#000000;
	}
	.carousel-control {
		width:5%;

	}
}
//FEATURED GREY
.featured-grey {
	background-color: $brand-info;
	padding:2em 0;
}


//FEATURED LESSONS
.featured-lessons-title {
	.pane-title, .pane-content {
		display: inline-block;
	}
}
.views-bootstrap-grid-1 {
	.views-field-field-image {
		.overlay {
			display: none;
			position: absolute;
			top:0;
			right:15px;
			left:15px;
			height: 100%;
			padding:2em 1em;
			background-color: rgba(177,201,202,0.93);
			font-weight: 300;
			font-size: 27px;
			.label {
				font-weight: 400;
			}
		}
		&:hover, &:focus {
			.overlay {
				display:block;
			}
		}
	}
}

// FEATURED Blog posts
.featured-blog {
	.caption {
		position: relative;
		top:-250px;
		background-color:#fff;
		padding:2em;
		width:17em;
		h3 {
			margin:0;
			font-size: $font-size-base;
			text-transform: uppercase;

			a{
				color:$gray-base;
			}
		}
	}

}
//BREADCRUMBS
.breadcrumb {
	font-size: 0.75em;
	padding-left:0;
	text-transform: lowercase;
}
//PAGE TITLE
.page-header {
	text-transform: uppercase;
	border-bottom-width: 0;
	font-size: $font-size-h3;
}


//COURSE INFORMATION PAGE
.node-type-course-information {
	.bootstrap-twocol-stacked .row::nth-child(2),
	.bootstrap-twocol-stacked .row::nth-child(3) {
		border:1px solid;
		border-radius: $border-radius-large;
		padding:2em;
		margin-bottom:1em;
		.field {
			margin-bottom: 0.5em;
		}
	}
}
//PROJECT PERSONNEL
#views-bootstrap-thumbnail-1 {
	.thumbnail {
		padding:1em;
		border-color: transparent;
		&:hover, &:focus {
			border-color:$brand-primary;
		}
		.caption {
			min-height: 90px;
		}
	}
	h3 {
		font-size: $font-size-base;
		margin-bottom:0;
		margin-top:0;
		a {
		}
	}
}
// PARTNERS inline-block
#partners {
	margin-top:2em;
	margin-bottom:2em;
	.partner-uta {
		background-color: $brand-info;
		border:1px solid #0064b1;
		padding:10px;
		height: 85px;
		width: 260px;
	}
	img {
		&:hover, &:focus {
			background-color: lighten($gray-base, 93.5%);
		}
	}
}
footer {
	padding-bottom: 1em;
	background-color: $brand-primary;
	border-top-width:0;
	font-size: 0.75em;
}