.region-logos {
	float:left;
}
.navbar-default {
	background-color: #fff;

}
.navbar-header {
	text-align: center;
	width: 100%;
}
.navbar-brand {
	text-transform: uppercase;
	font-size: $font-size-h1;
	float: none;
}
//BREADCRUMBS
.breadcrumb {
	font-size: 0.75em;
	padding-left:0;
}
//PAGE TITLE
.page-header {
	text-transform: uppercase;
	border-bottom-width: 0;

}
//PANEL TITLE
h2.panel-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: $font-size-base;
}
//COURSE INFORMATION PAGE
.node-type-course-information {
	.bootstrap-twocol-stacked .row::nth-child(2),
	.bootstrap-twocol-stacked .row::nth-child(3) {
		border:1px solid;
		border-radius: $border-radius-large;
		padding:2em;
		margin-bottom:1em;
		.field {
			margin-bottom: 0.5em;
		}
	}
}
//PROJECT PERSONNEL
#views-bootstrap-thumbnail-1 {
	.thumbnail {
		padding:1em;
		border-color: $gray-base;
		&:hover, &:focus {
			border-color:$brand-success;
		}
		.caption {
			min-height: 90px;
		}
	}
	h3 {
		font-size: $font-size-base;
		margin-bottom:0;
		margin-top:0;
		a {
		}
	}
}

footer {
	border-bottom: 1em solid $brand-success;
	padding-bottom: 1em;
	background-color: $gray-lighter;
	border-top-width:0;
	font-size: 0.75em;
}