.region-logos {
	float:left;
}
.navbar-default {
	background-color: #fff;

}
.navbar-header {
	text-align: center;
	width: 100%;
}
.navbar-brand {
	text-transform: uppercase;
	font-size: $font-size-h1;
	float: none;
}
//BREADCRUMBS
.breadcrumb {
	font-size: 0.5em;
}
//PAGE TITLE
.page-header {
	text-transform: uppercase;
	border-bottom-width: 0;

}
//COURSE INFORMATION PAGE
.node-type-course-information {
	.bootstrap-twocol-stacked .row::nth-child(2),
	.bootstrap-twocol-stacked .row::nth-child(3) {
		border:1px solid;
		border-radius: $border-radius-large;
		padding:2em;
		margin-bottom:1em;
		.field {
			margin-bottom: 0.5em;
		}
	}
}
//PROJECT PERSONNEL
.view-project-personel {
	.caption {
		h3 {
			font-size: $font-size-base;
			margin-bottom:0;
			a {
			}
		}
	}
}

footer {
	border-bottom: 1em solid $brand-success;
	padding-bottom: 1em;
	background-color: $gray-lighter;
	border-top-width:0;
	font-size: 0.75em;
}